<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessions pour le film</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .session-box {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 16px;
            margin: 16px 0;
        }
    </style>
</head>
<body>
    <h1>Sessions pour le film----------------</h1>
    <a href="/">Retour à la liste des films--------------------</a>

    <h2>Liste des séances :</h2>
    <div>
        <% if (sessions.length > 0) { %>
            <% sessions.forEach(session => { %>
                <div class="session-box">
                    <p><strong>Date et Heure :</strong> 
                        <%= session.dateTime ? session.dateTime.toLocaleString() : 'Date non disponible' %>
                    </p>
                    <p><strong>Salle :</strong> <%= session.room %></p>
                    <p><strong>Capacité :</strong> <%= session.capacity %></p>
                    <p><strong>Technologie de projection :</strong> <%= session.projectionTechnology %></p>
                    <p><strong>Prix du billet :</strong> <%= session.ticketPrice %> €</p>
                    <p><strong>Places disponibles :</strong> <%= session.availableSeats %></p>
                    <p><strong>Disponibilité en ligne :</strong> <%= session.onlineAvailability ? 'Oui' : 'Non' %></p>
                    <a href="/reservation/<%= session._id %>" class="btn btn-primary">Réserver</a>


                </div>
            <% }) %>
        <% } else { %>
            <p>Aucune séance disponible pour ce film.</p>
        <% } %>
    </div>
</body>
</html>
