<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>CINÉMA</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header-top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            
                                       
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->

            <!-- end header -->
            <section class="slider_section">
                <div class="banner_main">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2 padding_left0">
                                <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                     
                                            <li> <a href="#about">About</a> </li>
                                            <li> <a href="#contact">Contact</a> </li>
                                           
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                                <div class="text-bg">
                                    <h1>amazing<br> 3d CINEMA</h1>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut</span>
                                    <a href="#">RÉSERVER</a>
                                </div>
                            </div>
                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                                <div class="text-img">
                                   <figure><img src="images/img.png" alt="#"/></figure>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
        
           </section>
        </div>
    </header>

    <!-- our -->
    <div id="games" class="our">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Movies</h2>
                    </div>
                </div>
            </div>
            <div class="row">







                <style>
                    .movie-container {
                        border: 1px solid #ddd; /* Bordure autour de chaque film */
                        padding: 15px;
                        margin-bottom: 20px;
                        border-radius: 10px; /* Coins arrondis pour un look plus propre */
                    }
                
                    .movie-container img {
                        width: 100%; /* Taille de l'image à 100% de la colonne */
                        height: auto; /* Maintenir le ratio de l'image */
                        max-height: 400px; /* Limite la hauteur si nécessaire */
                        object-fit: cover; /* Ajuste l'image pour couvrir l'espace sans déformation */
                    }
                
                    .Games p {
                        line-height: 1.5; /* Réduire l'espace entre les lignes */
                    }
                
                    .margin_bottom {
                        margin-bottom: 20px; /* Ajuster la marge entre les films */
                    }
                </style>
                
                <div class="container">
                    <% if (movies.length > 0) { %>
                        <% movies.forEach(movie => { %>
                        <div class="col-md-12 margin_bottom movie-container"> <!-- Conteneur avec bordure -->
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                    <div class="two-box">
                                        <% if (movie.poster) { %>
                                        <figure><img src="<%= movie.poster %>" alt="Affiche de <%= movie.title %>"></figure> <!-- Taille de l'image ajustée -->
                                        <% } %>
                                    </div>
                                </div>
                
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                    <div class="Games">
                                        <h3><%= movie.title %></h3>
                                        <p><strong>Année :</strong> <%= movie.releaseYear %></p>
                                        <p><strong>Durée :</strong> <%= movie.duration %> minutes</p>
                                        <p><strong>Genre :</strong> <%= movie.genre %></p>
                                        <p><strong>Réalisateur :</strong> <%= movie.director %></p>
                                        <p><strong>Synopsis :</strong> <%= movie.synopsis %></p>
                                      
                                    
                                        <a href="/seancesusers/movie/<%= movie._id %>">Consulter les séances</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <p>Aucun film disponible.</p>
                    <% } %>
                </div>
                











                














            </div>
        </div>
    </div>
   
    <!-- end our -->

    <!-- about  -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>A Propos de notre Cinéma</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="about-box">
                        <figure><img src="images/about.jpg" alt="#" /></figure>

                        <p> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            <br> labore et dolore magna aliqua. Ut enim conseq</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end abouts -->

    

    <!-- contact -->
    <div id="contact" class="contact">
        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <form class="contact_bg">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <input class="contactus" placeholder="Name" type="text" name="Name">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <input class="contactus" placeholder="Phone" type="text" name="Email">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <input class="contactus" placeholder="Email" type="text" name="Email">
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <button class="send">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
   
    <!-- end contact -->

    <!-- footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>CINÉMA</h2>
                </div>
                <div class="col-md-10 offset-md-1">
                    <form class="news">
                        <input class="newslatter" placeholder="Entrez votre e-mail" type="text" name="email">
                        <button class="submit">S'abonner</button>
                    </form>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="address">
                                <ul class="social_link">
                                    <li><a href="#"><img src="icon/fb.png" alt="Facebook"></a></li>
                                    <li><a href="#"><img src="icon/tw.png" alt="Twitter"></a></li>
                                    <li><a href="#"><img src="icon/lin(2).png" alt="LinkedIn"></a></li>
                                    <li><a href="#"><img src="icon/instagram.png" alt="Instagram"></a></li>
                                </ul>
                                <a href="index.html">Accueil</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="address">
                                <h3>Liens rapides</h3>
                                <ul class="Menu_footer">
                                    <li class="active"><img src="images/3.png" alt="#"><a href="#films">Films</a></li>
                                    <li><img src="images/3.png" alt="#"><a href="#horaires">Horaires</a></li>
                                    <li><img src="images/3.png" alt="#"><a href="#tarifs">Tarifs</a></li>
                                    <li><img src="images/3.png" alt="#"><a href="#avis">Avis</a></li>
                                    <li><img src="images/3.png" alt="#"><a href="#contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="address">
                                <h3>Téléchargements</h3>
                                <ul class="Links_footer">
                                    <li class="active"><img src="images/3.png" alt="#"><a href="#">Application mobile</a></li>
                                    <li><img src="images/3.png" alt="#"><a href="#">Catalogue PDF</a></li>
                                    <li><img src="images/3.png" alt="#"><a href="#">Offres spéciales</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="address">
                                <h3>Contactez-nous</h3>
                                <ul class="loca">
                                    <li><a href="#"><img src="icon/loc.png" alt="#"></a>123 Rue du Cinéma<br>Paris, France</li>
                                    <li><a href="#"><img src="icon/email.png" alt="#"></a>contact@cinema.fr</li>
                                    <li><a href="#"><img src="icon/call.png" alt="#"></a>+33 1 23 45 67 89</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

    </footr>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

</body>

</html>